# Global Config
[user]
	name = namhk
	email = namhkse@gmail.com
[core]
	editor = vim
	autocrlf = input
[alias]
	lg = "log --pretty=format:'%C(bold blue)%h %C( yellow)(%ar) %C(dim white)- %an%Creset: %C(green)%s %C(auto)%d' --graph"
	lga = "lg --all"
	ls-commited-file = "show --pretty=format:'Note: %Cgreen%s%Creset' --name-only"
	st = "status"
	br = "branch"
	cm = "commit"
[diff]
	tool = vimdiff
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
